/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.background-container {
    position: relative;
    background-image: url('/assets/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
  }
  .content {
    position: relative;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    height: 97%;
    padding: 0.5%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo semi-transparente */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff; /* Cor do texto*/
  }
  .logo-img {
    max-width: 100%;
    max-height: 72px; /* Defina a altura máxima desejada */
    height: auto;
  }
